<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<!-- only show button if you haven't checked in yet today -->
		<h1>Welcome home</h1>
		<a href="/home"><button>Check in</button></a>


		<h1>Post made, temp home 2</h1>
		<script src="/js/app/app.js"></script>
	</body>
</html>
