<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
	</head>
	<body>
		<a href="/home/logout">Log out!</a>
		
		<div id="container"></div>
		<script src="/js/build/build.js"></script>
	</body>
</html>
