


<h1>Welcome. Log in.</h1>

<div class="formDiv">
	<h3><%= @message %></h3>
		<form action="/home/login" method="POST">
		<div>
			<input class="regLogInput" type="text" name="username" placeholder="Username"/>
		</div>
		<div>
			<input class="regLogInput" type="password" name="password" placeholder="Password"/>
		</div>
		<div>
			<button class="logReg">Let's go</button>
		</div>
		</form>
</div>
