<%= @message %>

<h1>This is the register page</h1>
<form action="/home/register" method="POST">
	<input type="text" name="username" placeholder="Username"/>
	<input type="password" name="password" placeholder="Password"/>
	<button>Register!</button>
</form>
