
<div class="regLogDiv">
	<h1>Welcome. Please register.</h1>
	<div class="formDiv registerDiv">
		<h3><%= @message %></h3>
		<form action="/home/register" method="POST">
		<div>
			<input class="nameInput" type="text" name="first" placeholder="First Name"/>
			<input class="nameInput" type="text" name="last" placeholder="Last Name"/>
		</div>
		<div>
			<input class="regLogInput" type="text" name="username" placeholder="Username"/>
		</div>
		<div>
			<input class="regLogInput" type="password" name="password" placeholder="Password"/>
		</div>
		<div>
			<button class="logReg">Sign up!</button>
		</div>
		</form>
		<div class="buttonDiv">
			<a href="/home/login"><button class="navButton">I already have an account</button></a>
		</div>
	</div>
	<footer>
			Naomi Mine <span> | </span> General Assembly<span> | </span> 2017
	</footer>
</div>