<%= @message %>

<h1>Welcome. Please register.</h1>
<div class="formDiv">
	<form action="/home/register" method="POST">
	<div>
		<input class="regLogInput" type="text" name="username" placeholder="Username"/>
	</div>
	<div>
		<input class="regLogInput" type="password" name="password" placeholder="Password"/>
	</div>
	<div>
		<button class="logReg">Register!</button>
	</div>
	</form>
</div>
