body {
  background-color: #0C393F;
  color: #F9F2D7;
  font-family: 'Comfortaa', cursive;
}
body h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 9%;
  margin-bottom: 15px;
  width: 80%;
  margin-left: 10%;
  line-height: 70px;
  letter-spacing: 1.5px;
  font-weight: lighter;
}
body .login {
  margin-bottom: -30px;
  margin-top: 9%;
}
body .formDiv {
  height: 400px;
  width: 40%;
  margin-left: 30%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .formDiv h3 {
  color: #A62606;
}
body .formDiv .regLogInput {
  background-color: rgba(35, 75, 84, 0.6);
  margin: 10px 0px;
  width: 346px;
  height: 30px;
  padding: 10px;
  font-size: 21px;
  border-width: 1px;
  border-radius: 3px;
  font-family: 'Comfortaa', cursive;
  border: 1px solid #19747C;
  color: #F9F2D7;
}
body .formDiv .nameInput {
  background-color: rgba(35, 75, 84, 0.6);
  margin: 15px 0px;
  width: 155px;
  height: 30px;
  padding: 10px;
  font-size: 21px;
  border-width: 1px;
  border-radius: 3px;
  font-family: 'Comfortaa', cursive;
  border: 1px solid #19747C;
  color: #F9F2D7;
  margin-right: 10px;
  margin-bottom: 10px;
}
body .formDiv .logReg {
  border: none;
  background: #195a5c;
  background-image: -webkit-linear-gradient(top, #195a5c, #124445);
  background-image: -moz-linear-gradient(top, #195a5c, #124445);
  background-image: -ms-linear-gradient(top, #195a5c, #124445);
  background-image: -o-linear-gradient(top, #195a5c, #124445);
  background-image: linear-gradient(to bottom, #195a5c, #124445);
  margin: 15px 0px;
  width: 368px;
  border-width: 1px;
  border-radius: 2px;
  font-size: 30px;
  color: #F9F2D7;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(3, 37, 42, 0.86);
  font-family: 'Spinnaker', sans-serif;
  text-shadow: 0px 0px 1px rgba(106, 59, 15, 0.98);
  letter-spacing: 2px;
}
body .formDiv .navButton {
  border: none;
  background: #195a5c;
  background-image: -webkit-linear-gradient(top, #195a5c, #124445);
  background-image: -moz-linear-gradient(top, #195a5c, #124445);
  background-image: -ms-linear-gradient(top, #195a5c, #124445);
  background-image: -o-linear-gradient(top, #195a5c, #124445);
  background-image: linear-gradient(to bottom, #195a5c, #124445);
  margin: 0px 0px;
  width: 368px;
  border-width: 1px;
  border-radius: 2px;
  font-size: 20px;
  color: #F9F2D7;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(3, 37, 42, 0.86);
  font-family: 'Spinnaker', sans-serif;
  text-shadow: 0px 0px 1px rgba(106, 59, 15, 0.98);
  letter-spacing: 2px;
}
body .formDiv a {
  margin-left: 0px;
}
body .registerDiv {
  margin-top: -35px;
}
body .threeWords {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .word {
  width: 25%;
  margin: 20px;
  padding: 20px;
  margin-top: 30px;
  height: 55px;
  border-radius: 5px;
  font-size: 50px;
  text-align: center;
  border-width: 1px;
}
body .nextDiv {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
body .next {
  background-color: #E27108;
  color: #F9F2D7;
  border: none;
  width: 200px;
  height: 100px;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 65px;
  box-shadow: 3px 3px 4px rgba(35, 46, 51, 0.89);
  letter-spacing: 2.5px;
  text-shadow: 1px 1px 1px rgba(106, 59, 15, 0.98);
}
body .shortAnswer {
  width: 80%;
  margin-left: 8%;
  padding: 25px;
  margin-top: 50px;
  height: 70px;
  border-radius: 40px;
  font-size: 50px;
  text-align: left;
}
body .submit {
  background-color: #113F40;
  color: #CEF1F1;
  margin-left: 67%;
  width: 300px;
  height: 200px;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 50px;
}
body .week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 70px;
}
body .week .day {
  margin: 10px;
  width: 150px;
  height: 85px;
  border-radius: 3px;
  background-color: #E89E58;
}
body .week .day h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
body .week .day .check {
  margin-left: 44%;
}
body .checkInDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .checkIn {
  background-color: #C08210;
  color: #113F40;
  width: 200px;
  border: none;
  height: 91px;
  font-size: 40px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(99, 111, 119, 0.88);
}
body .test {
  background-color: #C08210;
  color: #113F40;
  width: 200px;
  border: none;
  height: 91px;
  font-size: 40px;
  border-radius: 5px;
  padding: 20px;
  margin-left: 40%;
  margin-top: 40px;
}
body button:hover {
  transform: scale(1.025);
  transition: all .3s;
  box-shadow: 1px 2px 3px rgba(99, 111, 119, 0.88);
}
body .dayH2 {
  color: #6F797B;
}
body .today {
  color: #A62606;
}
body .message {
  font-size: 30px;
  margin-top: 0px;
  margin-left: 0px;
}
body a {
  text-decoration: none;
  color: #F9F2D7;
}
body .shortAnswer {
  border-radius: 4px;
  margin-top: 20px;
}
body .submit {
  background-color: #E27108;
  color: #F9F2D7;
  border: none;
  width: 235px;
  height: 120px;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 50px;
  box-shadow: 3px 3px 4px rgba(35, 46, 51, 0.89);
  letter-spacing: 2.5px;
  text-shadow: 1px 1px 1px rgba(106, 59, 15, 0.98);
  line-height: 40px;
}
body input {
  color: #2F8297;
}
body .thing {
  width: 57%;
  height: 50px;
  margin-left: 21%;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 35px;
  padding: 10px;
}
body .number {
  width: 100px;
  margin-left: 45%;
  height: 50px;
  border-radius: 3px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  border-width: 0.5px;
  color: #F9F2D7;
}
body .homeh1 {
  margin-bottom: 55px;
}
body footer {
  font-size: 13px;
  position: absolute;
  bottom: 30px;
  color: #F8FAEA;
  font-weight: bold;
  text-shadow: 0.5px 2px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}
body .arch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  body .week {
    flex-direction: column;
    align-items: center;
  }
  body .week .day {
    width: 200px;
    height: 80px;
  }
  body h1 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 30px;
  }
  body .message {
    margin-bottom: 10px;
  }
  body .threeWords {
    flex-direction: column;
    align-items: center;
  }
  body .threeWords .word {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 50%;
    height: 20px;
    font-size: 25px;
  }
  body .nextDiv {
    right: 5%;
    bottom: 5%;
  }
  body .nextDiv .next {
    color: #CEF1F1;
    border: none;
    width: 130px;
    height: 65px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 35px;
    box-shadow: 0px 1px 3px rgba(99, 111, 119, 0.88);
    letter-spacing: 3px;
  }
  body .formDiv {
    width: 300px;
  }
}
