@yellow: #F9F2D7;
@blueText: #113F40;
@lightBlue: #CEF1F1;

body {
	background-color: @yellow;
	color: @blueText;
	font-family: 'Comfortaa', cursive;

	h1 {
		font-size: 60px;
	    text-align: center;
	    margin-top: 10%;
	    margin-bottom: 60px;
	    width: 80%;
	    margin-left: 10%;
	}
	.word {
		width: 70%;
	    margin-left: 12%;
	    padding: 25px;
	    margin-top: 50px;
	    height: 70px;
	    border-radius: 40px;
	    font-size: 50px;
	    text-align: center;
	}
	.next {
		background-color: @blueText;
		color: @lightBlue;
		margin-left: 67%;
		width: 200px;
		height: 100px;
		margin-top: 50px;
		border-radius: 10px;
		font-size: 65px;

	}
	.shortAnswer {
		width: 80%;
	    margin-left: 8%;
	    padding: 25px;
	    margin-top: 50px;
	    height: 70px;
	    border-radius: 40px;
	    font-size: 50px;
	    text-align: left;
	}
	.submit {
		background-color: @blueText;
		color: @lightBlue;
		margin-left: 67%;
		width: 300px;
		height: 200px;
		margin-top: 50px;
		border-radius: 10px;
		font-size: 50px;
	}
}
