body {
  background-color: #F9F2D7;
  color: #113F40;
  font-family: 'Comfortaa', cursive;
}
body h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 60px;
  width: 80%;
  margin-left: 10%;
}
body .word {
  width: 70%;
  margin-left: 12%;
  padding: 25px;
  margin-top: 50px;
  height: 70px;
  border-radius: 40px;
  font-size: 50px;
  text-align: center;
}
body .next {
  background-color: #113F40;
  color: #CEF1F1;
  margin-left: 67%;
  width: 200px;
  height: 100px;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 65px;
}
body .shortAnswer {
  width: 80%;
  margin-left: 8%;
  padding: 25px;
  margin-top: 50px;
  height: 70px;
  border-radius: 40px;
  font-size: 50px;
  text-align: left;
}
body .submit {
  background-color: #113F40;
  color: #CEF1F1;
  margin-left: 67%;
  width: 300px;
  height: 200px;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 50px;
}
body .week {
  margin-right: 2.5%;
}
body .week .day {
  float: right;
  margin: 10px;
  width: 150px;
  height: 100px;
  border-radius: 5px;
  background-color: #113F40;
}
body .week .day h2 {
  color: #B4A454;
  font-size: 24px;
  text-align: center;
}
body .week .day .check {
  margin-left: 44%;
}
body .checkIn {
  background-color: #B4A454;
  color: #113F40;
  width: 200px;
  border: none;
  height: 91px;
  font-size: 40px;
  border-radius: 5px;
  padding: 20px;
  margin-left: 40%;
  margin-top: 40px;
}
body .test {
  background-color: #B4A454;
  color: #113F40;
  width: 200px;
  border: none;
  height: 91px;
  font-size: 40px;
  border-radius: 5px;
  padding: 20px;
  margin-left: 40%;
  margin-top: 40px;
}
body button:hover {
  transform: scale(1.025);
  transition: all .2s;
}
